<h1>Patients#show</h1>
<p>Find me in app/views/patients/show.html.erb</p>

<h1><%= @patient.name %></h1>
<ul>
<%= @patient.appointments.each do |appt| %>
    <li><%= link_to appt.doctor.name, doctor_path(appt.doctor)%> <%= appt.formatted_date %></li>
<% end %>
</ul>